html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  width: max-content;
  margin-inline: auto;
}
input {
  width: 300px;
}
input,
button [type="submit"] {
  min-height: 36px;
}
button [type="submit"] {
  min-width: 36px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: lightcoral;
  margin-bottom: 2px;
  pading: 0.5rem;
}

.strike {
  text-decoration: line-through;
  background-color: rgb(241, 191, 191);
}
